header {
  position: relative;
  height: 2.9rem;
  background-image: url(../img/bg1.jpg);
  background-size: cover;
}

header .icon {
  position: absolute;
  width: 1.79rem;
  height: 2.06rem;
  top: 0;
  right: 0;
}

header .back {
  position: absolute;
  top: 1.25rem;
  left: .44rem;
  width: .35rem;
  height: .3rem;
}

header .tit {
  position: absolute;
  top: 1.93rem;
  left: .38rem;
  font-size: .36rem;
  color: #f2f2f2;
}

main {
  margin: .45rem .4rem;
}

main .item {
  position: relative;
}

main .item .tip {
  display: flex;
  justify-content: space-between;
  margin-bottom: .18rem;
  color: #666;
  font-size: .24rem;
  line-height: 1;
}

main .item .tip span {
  color: #fd1c1c;
}

main .item input {
  display: block;
  padding: 0 0 0 .27rem;
  width: 6.7rem;
  height: .96rem;
  font-size: .28rem;
  line-height: .28rem;
  color: #0b193f;
  border-radius: .16rem;
  border: solid .01rem #cccccc;
  box-sizing: border-box;
}

main .item .eyes {
  position: absolute;
  top: .75rem;
  right: .28rem;
  width: .4rem;
  height: .4rem;
}

main .pwd {
  margin-top: .5rem;
}

main .login {
  margin-top: .6rem;
  width: 6.7rem;
  height: .96rem;
  color: #fff;
  font-size: .32rem;
  background-color: #4073ff;
  border-radius: .16rem;
  border: none;
}

main .toReg {
  margin-top: .5rem;
  text-align: center;
  font-size: .24rem;
  color: #4073ff;
}
