header {
  height: 2.9rem;
  overflow: hidden;
}

header img {
  width: 100%;
}

main {
  position: relative;
  height: 13.35rem;
}

main .movie {
  display: flex;
  padding: 0 .4rem;
  height: 2.7rem;
}

main .movie img {
  position: relative;
  top: -0.7rem;
  display: block;
  width: 2.08rem;
  height: 3.1rem;
  background-color: #d1d1d1;
  border-radius: .14rem;
}

main .movie .desc {
  margin-left: .35rem;
}

main .movie .desc .tit {
  margin-top: .3rem;
  font-size: .32rem;
  line-height: 1;
  color: #000018;
}

main .movie .desc .item {
  margin-top: .23rem;
  color: #8890a3;
  font-size: .24rem;
}

main .movie .desc .item span {
  margin-left: .93rem;
  color: #263153;
}

main .divider {
  height: .14rem;
  background-color: #edf0f9;
}

main .cinema {
  overflow: hidden;
}

main .cinema nav {
  display: flex;
  padding: 0 .55rem;
  height: .8rem;
  border-bottom: .01rem solid #ccc;
}

main .cinema nav .item {
  width: 3rem;
  text-align: center;
  font-size: .28rem;
  line-height: .8rem;
  color: #00001d;
  box-sizing: border-box;
}

main .cinema nav .active {
  border-bottom: .08rem solid #4073ff;
}

main .cinema .time {
  display: flex;
  padding: .3rem .4rem;
  width: 300%;
  border-bottom: .01rem solid #ccc;
}

main .cinema .time li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: .25rem;
  width: 1.06rem;
  height: 1.21rem;
  font-size: .16rem;
  border-radius: .24rem;
  border: solid .02rem #d1dfff;
  box-sizing: border-box;
}

main .cinema .time .active {
  color: #fff;
  background-color: #4073ff;
  border: none;
}

main .cinema .cinemaList {
  padding: 0 .4rem;
}

main .cinema .cinemaList li {
  margin: .35rem 0 .45rem;
}

main .cinema .cinemaList li .name {
  margin-bottom: .2rem;
  font-size: .28rem;
  color: #000018;
}

main .cinema .cinemaList li .address {
  display: flex;
  align-items: center;
  color: #131f44;
  font-size: .24rem;
  line-height: 1;
}

main .cinema .cinemaList li .address i {
  margin-right: .1rem;
  width: .2rem;
  height: .26rem;
  background-image: url(../img/loc-2.png);
  background-size: contain;
}

main .cinema .cinemaList li .price {
  margin: .5rem 0 .3rem;
  color: #141337;
  font-size: .24rem;
  line-height: 1;
}

main .cinema .cinemaList li .timer {
  display: flex;
  flex-wrap: wrap;
}

main .cinema .cinemaList li .timer .i {
  margin-right: .12rem;
  margin-bottom: .1rem;
  width: 1.24rem;
  height: .54rem;
  line-height: .54rem;
  font-size: .24rem;
  color: #000018;
  text-align: center;
  background-color: #edf0f9;
  border-radius: .08rem;
}

main .cinema .cinemaList li .timer .i:nth-child(5n) {
  margin-right: 0;
}

main .cinema .cinemaList li .timer .i1 {
  border: solid .02rem #d1dfff;
  background-color: #fff;
  box-sizing: border-box;
}

main .cinema .cinemaList li .timer .active {
  background-color: #4073ff;
  color: #fff;
  border: none;
}

main .sumbit {
  position: absolute;
  bottom: .35rem;
  left: .4rem;
  width: 6.7rem;
  height: .96rem;
  font-size: .32rem;
  color: #fff;
  background-color: #4073ff;
  border-radius: .16rem;
  border: none;
}
