body{
  font-size: .16rem;
}
header {
  height: 2.9rem;
  overflow: hidden;
  img {
    width: 100%;
  }
}
main {
  position: relative;
  height: 13.35rem;
  .movie {
    display: flex;
    padding: 0 .4rem;
    height: 2.7rem;
    img {
      position: relative;
      top: -0.7rem;
      display: block;
      width: 2.08rem;
      height: 3.1rem;
      background-color: #d1d1d1;
      border-radius: .14rem;
    }
    .desc {
      margin-left: .35rem;
      .tit {
        margin-top: .3rem;
        font-size: .32rem;
        line-height: 1;
        color: #000018;
      }
      .item {
        margin-top: .23rem;
        color: #8890a3;
        font-size: .24rem;
        span {
          margin-left: .93rem;
          color: #263153;
        }
      }
    }
  }
  .divider {
    height: .14rem;
    background-color: #edf0f9;
  }
  .cinema {
    overflow: hidden;
    nav {
      display: flex;
      padding: 0 .55rem;
      height: .8rem;
      border-bottom: .01rem solid #ccc;
      .item {
        width: 3rem;
        text-align: center;
        font-size: .28rem;
        line-height: .8rem;
        color: #00001d;
        box-sizing: border-box;
      }
      .active {
        border-bottom: .08rem solid #4073ff;
      }
    }
    .time {
      display: flex;
      padding: .3rem .4rem;
      width: 300%;
      border-bottom: .01rem solid #ccc;
      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: .25rem;
        width: 1.06rem;
        height: 1.21rem;
        font-size: .16rem;
        border-radius: .24rem;
        border: solid .02rem #d1dfff;
        box-sizing: border-box;
      }
      .active {
        color: #fff;
        background-color: #4073ff;
        border: none;
      }
    }
    .cinemaList {
      padding: 0 .4rem 1.3rem;
      li {
        margin: .35rem 0 .45rem;
        .name {
          margin-bottom: .2rem;
          font-size: .28rem;
          color: #000018;
        }
        .address {
          display: flex;
          align-items: center;
          color: #131f44;
          font-size: .24rem;
          line-height: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          i {
            margin-right: .1rem;
            width: .2rem;
            height: .26rem;
            background-image: url(../img/loc-2.png);
            background-size: contain;
          }
        }
        .price {
          margin: .5rem 0 .3rem;
          color: #141337;
          font-size: .24rem;
          line-height: 1;
        }
        .timer {
          display: flex;
          flex-wrap: wrap;
          .i {
            margin-right: .12rem;
            margin-bottom: .1rem;
            width: 1.24rem;
            height: .54rem;
            line-height: .54rem;
            font-size: .24rem;
            color: #000018;
            text-align: center;
            background-color: #edf0f9;
            border-radius: .08rem;
          }
          .i:nth-child(5n) {
            margin-right: 0;
          }
          .i1 {
            border: solid .02rem #d1dfff;
            background-color: #fff;
            box-sizing: border-box;
          }
          .active {
            background-color: #4073ff;
            color: #fff;
            border: none;
          }
        }
      }
    }
    .detail{
      display: none;
      margin: .55rem .4rem 3.3rem;
      p{
        font-size: .28rem;
        line-height: .54rem;
        color: #000122;
      }
      video{
        width: 6.7rem;
      }
    }
  }
  .submit {
    position: fixed;
    bottom: .30rem;
    left: .4rem;
    width: 6.7rem;
    height: .96rem;
    font-size: .32rem;
    color: #fff;
    background-color: #4073ff;
    border-radius: .16rem;
    border: none;
  }
}
