* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-image: url(../img/banner.jpg);
  background-position: top center;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header {
  position: relative;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.8);
}

.header .wrapper {
  position: relative;
  width: 1300px;
  height: 84px;
  margin: 0 auto;
}

.header .wrapper h1 {
  float: left;
}

.header .wrapper h1 a {
  display: block;
  width: 200px;
  height: 54px;
  margin-top: 16px;
  background-image: url(../img/logo.png);
  color: transparent;
}

.header .wrapper .main {
  padding-left: 230px;
  width: 890px;
}

.header .wrapper .main li {
  float: left;
  cursor: pointer;
}

.header .wrapper .main li a {
  display: block;
  width: 110px;
  height: 64px;
  padding: 20px 0 0;
  color: #c9c9dd;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
}

.header .wrapper .main li a p {
  padding-top: 5px;
  font-size: 12px;
  line-height: 16px;
  color: #858792;
}

.header .wrapper .main li img {
  display: block;
  margin-top: 30px;
  margin-left: 10px;
}

.header .wrapper .main li:hover {
  background-image: url(../img/index.png);
}

.header .wrapper .main li:hover a {
  color: #d9ad50;
}

.header .wrapper .main li:hover a p {
  color: #d9ad50;
}

.header .wrapper .login {
  position: absolute;
  right: 0;
  top: 20px;
}

.header .wrapper .login img {
  float: left;
  margin-right: 7px;
  border-radius: 21px;
  border: 1px solid #d9ad50;
  cursor: pointer;
}

.header .wrapper .login .info {
  float: left;
}

.header .wrapper .login .info .i1 {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.header .wrapper .login .info .i2 {
  color: #858792;
}

.header .nav {
  position: absolute;
  top: 83px;
  height: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  transition: all 0.3s ease;
}

.header .nav .inner {
  width: 890px;
  height: 240px;
  margin: 0 auto;
  padding: 15px 0 30px 50px;
}

.header .nav .inner li {
  float: left;
  width: 110px;
  text-align: center;
}

.header .nav .inner li a {
  height: 30px;
  line-height: 30px;
  display: block;
  padding: 0;
  font-size: 14px;
  color: #c9c9dd;
  white-space: nowrap;
}

.header .nav .inner li a:hover {
  color: #f3c258;
  text-decoration: underline;
}

.header .nav .inner li a .icon-fans,
.header .nav .inner li a .icon-hot,
.header .nav .inner li a .icon-guard {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-image: url(../img/index.png);
}

.header .nav .inner li a .icon-hot {
  background-position: -163px -68px;
}

.header .nav .inner li a .icon-fans {
  background-position: -137px -68px;
}

.header .nav .inner li a .icon-guard {
  background-position: -136px -5px;
}

.header:hover .nav {
  height: 285px;
}
