header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.2rem;
  background-color: #726fff;
  .logo{
    margin-left: .37rem;
    height: .4rem;
  }
  .menu{
    margin-right: .42rem;
    height: .47rem;
  }
}
main{
  margin-top: 1rem;
  color: #3d3d3d;
  text-align: center;
  .en{
    font-size: .48rem;
  }
  .cn{
    font-size: .36rem;
  }
}