.content{
  margin-bottom: 50px;
}
.content .menu ul{
  list-style: none;
  display: flex;
}
.content .menu li{
  background-color: lightskyblue;
  color: #fff;
  height: 20px;
  margin: 0 10px;
  padding: 05px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.content .menu li.active{
  background-color: lightcoral;
}