/* .main{
  min-height: 200px;
  background-color: antiquewhite;
} */

.main>.wrapper {
  height: 42px;
  line-height: 40px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.main .center {
  margin: 0 auto;
  width: 1160px;
}

.main a {
  font-size: 12px;
  color: #666;
  text-decoration: none;
}

.main span {
  font-size: 12px;
  margin: 0 20px;
  color: #666;
}

.main a:last-child {
  color: #333;
}

.main .content {
  padding-top: 28px;
}

.main .content .bigI {
  float: left;
  width: 580px;
}

.main .content .info {
  float: right;
  margin: 14px 0 0;
  width: 500px;
}

.main .content .title {
  font-size: 22px;
  line-height: 22px;
  color: #262626;
}
.main .content .productInfo {
  margin-top: 20px;
  font-size: 12px;
  color: #666;
  line-height: 16px;
}

.main .content .price {
  padding: 15px 0 40px;
  font-size: 20px;
  line-height: 15px;
  color: #a10000;
  border-bottom: 1px solid #dbdbdb;
}

.main .content .type {
  font-size: 12px;
  line-height: 12px;
  margin: 30px 0;
  color: #262626;
}

.main .content .smallList img {
  float: left;
  margin: 0 13px;
  padding: 3px;
  width: 50px;
  box-sizing: border-box;
  border: 1px solid transparent;
}
.main .content .smallList img:hover {
  border: 1px solid #a10000;
}

.main .content .number {
  margin: 45px 0 25px;
  font-size: 12px;
  line-height: 12px;
  color: #262626;
}

.main .content .number span {
  color: #a10000;
  margin: 0;
}

.main .content .add-reduce div {
  float: left;
  width: 27px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  font-size: 12px;
  color: #262626;
}
.main .content .add-reduce .num{
  float: left;
  width: 27px;
  height: 27px;
  border: none;
  text-align: center;
}

.reduce,
.add {
  border: 1px solid #dadada;
}

.main .content .btns {
  margin-top: 20px;
  border-top: 1px solid #dbdbdb;
  padding-top: 35px;
}

.main .btns button {
  width: 170px;
  height: 40px;
  border: none;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
}

.main .btns .pay {
  float: left;
  background-color: #a10000;
  color: white;
}
.main .btns .shopping {
  float: right;
  background-color: #fff;
  border: 1px solid #000;
}

.main .imgList{
  margin: 20px 0 50px;
}

.main .imgList img{
  float: left;
  margin-right: 20px;
  border: 1px solid transparent;
}


.main .imgList img:hover{
  border: 1px solid #a10000;
}

/* .main .pros{
  background-color: #a10000;
} */

.main .proImg{
  float: left;
  width: 945px;
  /* background-color: #acc; */
  text-align: center;
}

.main .proImg .tit{
  height: 42px;
  line-height: 42px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.main .proImg .tit .item{
  float: left;
  width: 85px;
  font-size: 12px;
  
  border-bottom: 1px solid #dbdbdb;
}

.main .proImg .tit .item:hover{
  border-bottom: 1px solid #a10000;
  color: #a10000;
}

.main .pros .proImg .imgs{
  padding-top: 20px;
}

.main .pros .proImg img{
  margin-top: 6px;
  display: block;
}

.main .pros .proList{
  float: right;
  width: 200px;
  /* background-color:skyblue; */
}

.main .pros .proList .tit{
  height: 40px;
  background-color: #f6f6f6;
  color: #333;
  font-size: 12px;
  text-align: center;
  line-height: 40px;
  margin-bottom: 20px;
  
}

.main .pros .proList .item{
  width: 160px;
  margin: 0 auto 30px;
}

.main .pros .proList .item img{
  display: block;
}
.main .pros .proList .item h3{
  margin: 15px 0;
  font-size: 12px;
}

.main .pros .proList .item p{
  margin: 0;
  color: #666;
  font-size: 12px;
}

.main .more{
  margin-top: 20px;
  background-color: #fbfbfb;
  /* height: 100px; */
  padding-bottom: 40px;
  overflow: hidden;
}

.main .more .wrapper{
  margin: 0 auto;
  width: 1300px;
}
.main .more .wrapper p{
  font-size: 16px;
  margin:11px 0 26px;
  line-height: 16px;
  text-align: center;
}

/* .main .more .other{
  background-color: skyblue;
} */

.main .more .other .item{
  float: left;
  width: 216px;
}

.main .more .other .toZuo,
.main .more .other .toYou{
  width: 69px;
  margin-top: 90px;
}

/* .main .more .other .toZuo{
  margin-top: 90px;
} */

.main .more .other .toYou{
  text-align: right;
}

.main .more .other .toZuo img,
.main .more .other .toYou img{
  width: 20px;
}

.main .more .other .imgs{
  margin-right: 20px;
}

.main .more .other .imgs:nth-last-child(2){
  margin-right: 0;
}

.main .more .other .imgs h3{
  margin: 19px 0 17px;
  font-size: 12px;
}

.main .more .other .imgs p{
  margin: 0;
  font-size: 14px;
  color: #a10000;
  text-align: left;
}