body{
  padding-top: 140px;
}

/* .main{
  background-color: skyblue;
} */

/* .banner {
  height: 666px;
  background-color: aquamarine;
} */

.image {
  display: block;
  width: 100%;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  height: 380px;
  width: 840px;
  margin-top: -44px;
  background-color: white;
  background-image: url(../img/bg.jpg);
  background-position: bottom;
  background-repeat: repeat-x;
}

.wrapper .item {
  float: left;
  margin-top: 15px;
  margin-left: 15px;
  width: 260px;
  height: 350px;
  overflow: hidden;
  /* background-color: orange; */
}

.wrapper .item img{
  transition: .3s;
}

.wrapper .item img:hover{
  transform: scale(1.05);
}

.content {
  margin: 0 auto;
  width: 1126px;
  background-color: tomato;
}

.title {
  height: 95px;
  background-color: white;
  overflow: hidden;
}

.title img {
  display: block;
  margin: 0 auto;
  margin-top: calc((95px - 36px) / 2);
  width: 810px;
}

.con {
  /* overflow: hidden; */
  background-color: white;
}

.con .item {
 
  float: left;
  margin: 0 18px 23px 0;
  width: 268px;
  height: 320px;
  background-color: white;
  overflow: hidden;
}

/* .con .item .mask{
  overflow: hidden;
  position: relative;
}

.con .item .mask::before{
  content: '';
  position: absolute;
  top: -268px;
  left: -268px;
  width: 268px;
  height: 268px;
  background-color: #7fffd422;
  transition: .5s;
}
.con .item .mask::after{
  content: '';
  position: absolute;
  top: 268px;
  left: 268px;
  width: 268px;
  height: 268px;
  background-color: #7fffd422;
  transition: .5s;
}
.con .item:hover .mask::before,
.con .item:hover .mask:after{
  top: 0;
  left: 0;
} */

.con .item .mask{
  position: relative;
}

.con .item .mask::before,
.con .item .mask::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 268px;
  height: 268px;
  background-color: #7fffd422;
  transition: .5s;
}

.con .item .mask::before{
  transform-origin: top left;
  transform: scale(0);
}
.con .item .mask::after{
  transform-origin: right bottom;
  transform: scale(0);
}

.con .item .mask:hover:before,
.con .item .mask:hover:after{
  transform: scale(1);
}


.con .item:nth-child(4n) {
  margin-right: 0;
}

.con .item:hover {
  box-shadow: 0 0 10px 0 #757575;
}

.con .item img {
  display: block;
}

.con .name {
  margin: 8px 0;
  text-align: center;
  font-size: 12px;
}

.con .price {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #a10000;
}



