.banner {
  position: relative;
  img {
    display: block;
    width: 100%;
  }
  ul {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 30px;
    width: 100%;
    li {
      margin: 0 5px;
      width: 40px;
      height: 3px;
      background-color: #ddd;
    }
    .active {
      background-color: #f99135;
    }
  }
}

.fastPay {
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
    height: 140px;
    // background-color: #cac8;
    .name {
      height: 44px;
      width: 150px;
      font-size: 24px;
      line-height: 44px;
      text-align: center;
      color: #fff;
      background-color: #f99135;
      border-radius: 0 22px 22px 0;
    }
    .select {
      box-sizing: border-box;
      padding-left: 23px;
      width: 200px;
      height: 40px;
      font-size: 16px;
      line-height: 40px;
      color: #8c8c8c;
      border: 2px solid #ccc;
      border-radius: 20px;
      background-image: url(../img/icon-4.png);
      background-repeat: no-repeat;
      background-position: 165px center;
    }
    .buy {
      width: 120px;
      height: 40px;
      text-align: center;
      color: #fffdfd;
      font-size: 18px;
      line-height: 40px;
      background-color: #f99135;
      border: 2px solid #f99135;
      border-radius: 20px;
    }
  }
}

.mian {
  margin-bottom: 45px;
  .wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
    // background-color: #acc;
    .left {
      width: 730px;
      // background-color: pink;
      .title {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 22px;
        height: 26px;
        color: #f99135;
        .nowPlaying,
        .upcoming {
          height: 26px;
          font-size: 26px;
          line-height: 1;
          span {
            font-size: 20px;
          }
        }
        .more {
          font-size: 14px;
        }
      }
      .content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
          position: relative;
          margin-bottom: 30px;
          width: 160px;
          img {
            display: block;
            width: 160px;
            height: 220px;
          }
          .des,
          .movie-des {
            display: flex;
            justify-content: space-between;
            position: relative;
            height: 40px;
            color: #003333;
            font-size: 16px;
            line-height: 40px;
            box-sizing: border-box;
            border: 1px solid #e8e8e8;
            .name {
              position: relative;
              padding-left: 10px;
              width: 100%;
              z-index: 1;
              background-color: #fff;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .level {
              margin-right: 10px;
              color: #f99135;
              font-size: 14px;
            }
            .reservation {
              position: absolute;
              top: 0px;
              display: flex;
              justify-content: space-between;
              height: 38px;
              width: 100%;
              text-align: center;
              font-size: 14px;
              color: #fff;
              background-color: #f99135;
              opacity: 0.8;
              transition: top .3s;
              .res1 {
                flex-grow: 1;
                border-right: 1px solid #ccc;
              }
              .res2 {
                flex-grow: 1;
              }
            }
          }
          .des::after{
            content: "立即购票";
            position: absolute;
            bottom: 40px;
            height: 0px;
            width: 100%;
            text-align: center;
            font-size: 14px;
            color: #fff;
            background-color: #f99135;
            opacity: 0.8;
            overflow: hidden;
            transition: all .3s;
          }
          &:hover .des::after {
            height: 40px;
          }
          .time {
            position: absolute;
            left: 0;
            width: 160px;
            margin-top: 15px;
            text-align: center;
            font-size: 14px;
            line-height: 14px;
            color: #999;
          }
          &:hover {
            box-shadow: 0 0 3px 2px #eee;
            .reservation {
              top: -40px;
            }
          }
        }
        .coming-item {
          margin-bottom: 60px;
        }
      }
    }
    .right {
      width: 360px;
      // background-color: skyblue;
      .title {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 22px;
        height: 26px;
        color: #f99135;
        .activity,
        .hot {
          height: 26px;
          font-size: 26px;
          line-height: 1;
          span {
            font-size: 20px;
          }
        }
        .more {
          font-size: 14px;
        }
      }
      .content1 {
        display: flex;
        border: 1px solid #e8e8e8;
        margin-bottom: 22px;
        img {
          width: 140px;
          height: 194px;
        }
        .des {
          margin-left: 10px;
          .name {
            margin-top: 66px;
            color: #333;
            font-size: 18px;
            line-height: 18px;
          }
          .time {
            margin-top: 16px;
            color: #999;
            font-size: 16px;
            line-height: 16px;
          }
          .like {
            margin-top: 10px;
            color: #f99135;
            font-size: 14px;
            line-height: 14px;
          }
        }
      }
      .content2 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 56px;
        .item {
          line-height: 1;
          border: 1px solid #e8e8e8;
          img {
            display: block;
          }
          .name {
            margin-top: 12px;
            margin-left: 9px;
            font-size: 18px;

            color: #333;
          }
          .time {
            margin: 10px 9px;
            font-size: 14px;
            color: #999;
          }
          &:hover {
            background-color: #f6f6f6;
          }
        }
      }
      .top1 {
        position: relative;
        display: flex;
        justify-content: space-between;
        .top {
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 18px;
          height: 18px;
          font-size: 16px;
          line-height: 18px;
          text-align: center;
          font-style: italic;
          background-color: #f99135;
          color: #fff;
        }
        img {
          display: block;
        }
        .des {
          margin-left: 14px;
          align-self: center;
          font-size: 14px;
          color: #333;
        }
      }
      ul {
        li {
          display: flex;
          margin-top: 27px;
          line-height: 1;

          .num {
            width: 35px;
            font-size: 16px;
            color: #acacac;
            font-style: italic;
          }
          .rank {
            color: #f99135;
          }
          .name {
            font-size: 14px;
            &:hover {
              color: #f99135;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.login-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 444px;
  height: 532px;
  background-color: rgba(0, 0, 0, 0.371);
  .mian {
    position: relative;
    margin: 10px 10px 0 10px;
    padding: 50px 40px;
    background-color: #fff;
    overflow: hidden;
    .title {
      display: flex;
      align-items: top;
      margin-bottom: 45px;
      font-size: 16px;
      color: #999;
      border-bottom: 1px solid #e5e5e5;
      .nav {
        padding-bottom: 15px;
        width: 40px;
        text-align: center;
      }
      .active {
        color: #333;
        border-bottom: 4px solid #f99135;
      }
    }
    .inp {
      height: 45px;
      background-color: #f4f4f4;
      border-radius: 6px;
      border: solid 1px #d8d8d8;
      input {
        outline: none;
        margin: 18px 0 0 15px;
        width: 70%;
        background-color: transparent;
        border: none;
      }
    }
    .phone{
      position: relative;
      .phone-warning{
        display: none;
        position: absolute;
        bottom: -20px;
        color: #f03d37;
        font-size: 12px;
      }
    }
    .password {
      position: relative;
      margin: 24px 0 40px 0;
      .password-warning{
        display: none;
        position: absolute;
        bottom: -20px;
        color: #f03d37;
        font-size: 12px;
      }
    }
    .login {
      height: 46px;
      width: 100%;
      background-color: #f99135;
      border-radius: 6px;
      color: #fff;
      border: none;
    }
    .other {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      padding-bottom: 30px;
      font-size: 14px;
      border-bottom: 1px solid #999;
      input[name="auto"] {
        width: 18px;
        height: 18px;
        vertical-align: middle;
      }
    }
    .agreement {
      margin-top: 30px;
      font-size: 12px;
      line-height: 1;
      color: #999;
      input[name="agree"] {
        margin-right: 14px;
        width: 12px;
        height: 12px;
        vertical-align: middle;
      }
    }
    .close {
      position: absolute;
      top: -40px;
      right: -40px;
      width: 80px;
      height: 80px;
      background-color: #b2b2b2;
      border-radius: 50%;
      background-image: url(../img/×.png);
      background-repeat: no-repeat;
      background-position: 15px 45px;
    }
  }
}

.reg-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 444px;
  background-color: rgba(0, 0, 0, 0.371);
  .mian {
    position: relative;
    margin: 10px;
    padding: 50px 40px;
    background-color: #fff;
    overflow: hidden;
    .title {
      display: flex;
      align-items: top;
      margin-bottom: 45px;
      font-size: 16px;
      color: #999;
      border-bottom: 1px solid #e5e5e5;
      .nav {
        padding-bottom: 15px;
        width: 40px;
        text-align: center;
      }
      .active {
        color: #333;
        border-bottom: 4px solid #f99135;
      }
    }
    .inp {
      height: 45px;
      background-color: #f4f4f4;
      border-radius: 6px;
      border: solid 1px #d8d8d8;
      input {
        outline: none;
        margin: 18px 0 0 15px;
        width: 70%;
        background-color: transparent;
        border: none;
      }
    }
    .phone {
      position: relative;
      .phone-warning {
        display: none;
        position: absolute;
        bottom: -20px;
        color: #f03d37;
        font-size: 12px;
      }
    }
    .password {
      position: relative;
      margin-top: 24px;
      .password1-warning {
        display: none;
        position: absolute;
        bottom: -20px;
        color: #f03d37;
        font-size: 12px;
      }
      .password2-warning {
        display: none;
        position: absolute;
        bottom: -20px;
        color: #f03d37;
        font-size: 12px;
      }
    }
    .re {
      display: flex;
      justify-content: space-between;
      margin-top: 24px;
      .re-inp {
        width: 50%;
      }
      .code {
        width: 40%;
        height: 45px;
        line-height: 45px;
        text-align: center;
        font-size: 20px;
        color: #f99135;
        background-color: #f4f4f4;
        border-radius: 6px;
        border: solid 1px #d8d8d8;
      }
    }
    .register {
      margin-top: 40px;
      height: 46px;
      width: 100%;
      background-color: #f99135;
      border-radius: 6px;
      color: #fff;
      border: none;
    }
    .other {
      margin-top: 30px;
      margin-bottom: 5px;
      text-align: right;
      font-size: 14px;
      color: #f99135;
    }

    .close {
      position: absolute;
      top: -40px;
      right: -40px;
      width: 80px;
      height: 80px;
      background-color: #b2b2b2;
      border-radius: 50%;
      background-image: url(../img/×.png);
      background-repeat: no-repeat;
      background-position: 15px 45px;
    }
  }
}
