.navs {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  height: 60px;
  font-size: 16px;
  line-height: 60px;
  color: #999;
  background-color: #47464a;
  .nav {
    margin: 0 40px;
  }
  .active {
    position: relative;
    color: #f99135;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 25px;
      border: 9px solid transparent;
      border-bottom: 9px solid #fff;
    }
  }
}
.main {
  .wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
    .left {
      width: 732px;
      // background-color: skyblue;
      .title1 {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 18px;
        height: 26px;
        color: #f99135;
        .new {
          height: 26px;
          font-size: 26px;
          line-height: 1;
          span {
            font-size: 20px;
          }
        }
        .more {
          font-size: 14px;
        }
      }
      .new-content {
        margin-bottom: 55px;
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          li {
            // position: relative;
            margin-bottom: 19px;
            width: 230px;
            img {
              display: block;
              margin-bottom: 10px;
            }
            p {
              color: #333;
              font-size: 14px;
            }
            .other{
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: 12px;
              .company {
                color: #999;
              }
              .watch {
                color: #aaa;
              }
            }
          }
        }
      }
      .title2 {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 18px;
        height: 26px;
        color: #2d98f3;
        .new {
          height: 26px;
          font-size: 26px;
          line-height: 1;
          span {
            font-size: 20px;
          }
        }
        .more {
          font-size: 14px;
        }
      }
      .advance-content{
        ul{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          li{
            img{
              display: block;
            }
          }
          .item{
            margin-bottom: 20px;
          }
        }
      }
    }
    .right {
      width: 362px;
      background-color: pink;
    }
  }
}
