.bg {
  height: 330px;
  background-image: url(../img/bg.jpg);
}

.bg .wrap {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 0 auto;
  width: 1200px;
}

.bg .wrap .img-bg {
  position: relative;
  bottom: -50px;
  margin: 0 30px;
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.23);
}

.bg .wrap .img-bg img {
  margin: 4px;
  width: 292px;
  height: 292px;
}

.bg .wrap .center {
  color: #ffffff;
  flex-grow: 1;
}

.bg .wrap .center .name {
  font-size: 26px;
}

.bg .wrap .center .region {
  margin: 10px 0;
  font-size: 14px;
}

.bg .wrap .center .phone {
  margin-bottom: 25px;
  font-size: 14px;
}

.bg .wrap .center .service {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
}

.bg .wrap .center .service .line {
  margin-left: 14px;
  width: 340px;
  border-bottom: 1px solid #fff;
}

.bg .wrap .center .service-list .item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: #fff;
  font-size: 10px;
}

.bg .wrap .center .service-list .item .left {
  margin-right: 5px;
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 2px;
  border: solid 1px #ffffff;
}

.main .wrap {
  width: 1200px;
  margin: 0 auto 70px;
}

.main .wrap .path {
  margin: 65px 0 25px;
  font-size: 14px;
  color: #333;
}

.main .wrap .movie-img-list {
  position: relative;
  width: 1200px;
  height: 280px;
  background-color: #eeeeee;
  overflow: hidden;
}

.main .wrap .movie-img-list ul {
  display: flex;
  margin: 43px 0;
}

.main .wrap .movie-img-list ul li {
  margin: 0 18px;
  width: 140px;
  height: 193px;
  background-color: #fff;
  transition: all .2s;
}

.main .wrap .movie-img-list ul li img {
  margin: 4px;
  width: 132px;
  height: 185px;
}

.main .wrap .movie-img-list ul li:hover {
  transform: scale(1.2);
  background-color: #f99135;
}

.main .wrap .movie-img-list ul .active {
  transform: scale(1.2);
  background-color: #f99135;
}

.main .wrap .movie-img-list .next {
  position: absolute;
  right: 0;
  top: 45%;
  width: 30px;
  height: 49px;
  background-image: url(../img/index2.png);
}

.main .wrap .movie-img-list .prev {
  position: absolute;
  left: 0;
  top: 45%;
  width: 30px;
  height: 49px;
  background-image: url(../img/index.png);
}

.main .wrap .movie-list .tit {
  margin: 25px 0 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.main .wrap .movie-list .tit .top {
  display: flex;
  align-items: end;
  margin-bottom: 25px;
}

.main .wrap .movie-list .tit .top .name {
  font-size: 25px;
  color: #333;
  font-weight: bold;
}

.main .wrap .movie-list .tit .top .score {
  margin-left: 20px;
  color: #f99135;
  font-size: 24px;
}

.main .wrap .movie-list .tit .top .score span {
  font-size: 14px;
}

.main .wrap .movie-list .tit .bottom {
  display: flex;
}

.main .wrap .movie-list .tit .bottom .item {
  display: flex;
  margin-right: 40px;
  font-size: 14px;
}

.main .wrap .movie-list .tit .bottom .item .key {
  color: #999;
}

.main .wrap .movie-list .tit .bottom .item .val {
  color: #333;
}

.main .wrap .movie-list .filter {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  height: 24px;
}

.main .wrap .movie-list .filter .key {
  margin-right: 18px;
  font-size: 14px;
  color: #999;
}

.main .wrap .movie-list .filter .option {
  margin-right: 120px;
  width: 90px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 12px;
  font-size: 14px;
  color: #333;
}

.main .wrap .movie-list .filter .active {
  background-color: #f99135;
  color: #fff;
}

.main .wrap .movie-list .list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 53px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #333;
  background-color: #f7f7f7;
}

.main .wrap .movie-list .list-header .time {
  margin-left: 88px;
}

.main .wrap .movie-list .list-header .lang {
  width: 80px;
}

.main .wrap .movie-list .list-header .type {
  width: 80px;
}

.main .wrap .movie-list .list-header .price {
  width: 80px;
}

.main .wrap .movie-list .list-header .choose {
  width: 80px;
  margin-right: 80px;
}

.main .wrap .movie-list ul li.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 82px;
  font-size: 14px;
  color: #333;
  text-align: center;
  background-color: #fff;
}

.main .wrap .movie-list ul li.item .time {
  margin-left: 88px;
  width: 64px;
  text-align: center;
}

.main .wrap .movie-list ul li.item .time .start {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.main .wrap .movie-list ul li.item .time .end {
  font-size: 12px;
  color: #999;
}

.main .wrap .movie-list ul li.item .lang {
  width: 80px;
}

.main .wrap .movie-list ul li.item .type {
  width: 80px;
}

.main .wrap .movie-list ul li.item .price {
  width: 80px;
}

.main .wrap .movie-list ul li.item .choose {
  width: 80px;
  margin-right: 80px;
}

.main .wrap .movie-list ul li.item .choose button {
  width: 80px;
  height: 30px;
  color: #fff;
  background-color: #f99135;
  box-shadow: 0px 2px 6px 0px rgba(255, 157, 71, 0.65);
  border-radius: 15px;
  border: none;
}

.main .wrap .movie-list ul li:nth-child(2n) {
  background-color: #f9f9f9;
}
