.main .wrapper {
  margin: 0 auto;
  margin-bottom: 80px;
  width: 1120px;
}

.main .wrapper .navs-box {
  padding: 0 20px;
  margin-top: 40px;
  border: 1px solid #e5e5e5;
}

.main .wrapper .navs-box .item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 14px;
  border-bottom: 1px solid #e5e5e5;
}

.main .wrapper .navs-box .item .name {
  color: #999;
  line-height: 28px;
}

.main .wrapper .navs-box .item ul {
  display: flex;
  flex-wrap: wrap;
  width: 1030px;
}

.main .wrapper .navs-box .item ul li {
  padding: 0 9px;
  margin-right: 15px;
  line-height: 28px;
  color: #333;
  text-align: center;
}

.main .wrapper .navs-box .item ul .active {
  color: #fff;
  background-color: #f99135;
  border-radius: 23px;
}

.main .wrapper .title {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 40px;
}

.main .wrapper .title .line {
  margin-right: 6px;
  width: 4px;
  height: 18px;
  background-color: #f99135;
}

.main .wrapper .title p.name {
  flex-grow: 1;
  color: #333;
  font-size: 18px;
  line-height: 1;
}

.main .wrapper .title .filter {
  display: flex;
  align-items: center;
  height: 18px;
  font-size: 13px;
  color: #666;
  line-height: 1;
}

.main .wrapper .title .filter i {
  margin-right: 5px;
  width: 12px;
  height: 13px;
  background-image: url(../img/filter.png);
}

.main .wrapper ul.content {
  margin-bottom: 20px;
}

.main .wrapper ul.content li {
  display: flex;
  padding: 23px 0 20px;
  border-bottom: 1px dashed #e5e5e5;
}

.main .wrapper ul.content li .info1 .name {
  font-size: 16px;
  color: #333;
}

.main .wrapper ul.content li .info1 .region {
  font-size: 14px;
  color: #999;
}

.main .wrapper ul.content li .info1 .service {
  display: flex;
  margin-top: 5px;
}

.main .wrapper ul.content li .info1 .service .s {
  padding: 0 3px;
  height: 20px;
  color: #509fc9;
  font-size: 12px;
  line-height: 20px;
  border-radius: 3px;
  border: solid 1px #509fc9;
}

.main .wrapper ul.content li .info1 .service .s1 {
  margin-right: 10px;
}

.main .wrapper ul.content li .info1 .service .s2 {
  margin-right: 10px;
}

.main .wrapper ul.content li .info2 {
  flex-grow: 1;
  margin-right: 36px;
  text-align: right;
}

.main .wrapper ul.content li .info2 .price {
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 12px;
  color: #999;
}

.main .wrapper ul.content li .info2 .price span {
  font-size: inherit;
  color: #f03d37;
}

.main .wrapper ul.content li .info2 .price .num {
  font-size: 16px;
}

.main .wrapper ul.content li .info2 .distance {
  font-size: 12px;
  color: #999;
}

.main .wrapper ul.content li .info3 .toChoose {
  width: 80px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  background-color: #f99135;
  border-radius: 15px;
  border: none;
}

.main .wrapper .pages {
  display: flex;
  justify-content: center;
}

.main .wrapper .pages .page {
  margin-right: 13px;
  padding: 0 12px;
  font-size: 16px;
  line-height: 32px;
  color: #333;
  border: 1px solid #e5e5e5;
}

.main .wrapper .pages .active {
  background-color: #f99135;
  color: #fff;
}
