* {
  margin: 0;
  padding: 0;
}

a, button {
  text-decoration: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.header {
  border-bottom: 2px solid #f99135;
}

.header .header-top {
  background-color: #f0f0f0;
}

.header .header-top .wrapper {
  margin: 0 auto;
  width: 1200px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}

.header .header-top .wrapper .download {
  float: left;
  color: #9a9a9a;
}

.header .header-top .wrapper .login-reg {
  float: right;
}

.header .header-top .wrapper .login-reg .login {
  border: none;
  background-color: transparent;
  color: #9a9a9a;
}

.header .header-top .wrapper .login-reg span {
  color: #9a9a9a;
  margin: 0 20px;
}

.header .header-top .wrapper .login-reg .reg {
  border: none;
  background-color: transparent;
  color: #9a9a9a;
}

.header .header-bottom .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
  height: 90px;
}

.header .header-bottom .wrapper .logo {
  margin-right: 20px;
}

.header .header-bottom .wrapper .area {
  margin-right: 65px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #313131;
}

.header .header-bottom .wrapper ul {
  display: flex;
  flex-grow: 1;
}

.header .header-bottom .wrapper ul li {
  width: 80px;
  line-height: 90px;
  text-align: center;
}

.header .header-bottom .wrapper ul li a {
  color: #333;
}

.header .header-bottom .wrapper ul li:hover {
  background-color: #f99135;
}

.header .header-bottom .wrapper ul li:hover a {
  color: #fff;
}

.header .header-bottom .wrapper .search {
  display: flex;
  justify-content: space-between;
  width: 340px;
  height: 40px;
  border: 2px solid #f99135;
  border-radius: 20px;
}

.header .header-bottom .wrapper .search input {
  margin-left: 20px;
  width: 220px;
  outline: none;
  background-color: transparent;
  border: none;
}

.header .header-bottom .wrapper .search input::placeholder {
  font-size: 16px;
  color: #bfbfbf;
}

.header .header-bottom .wrapper .search button {
  float: right;
  margin-right: -2px;
  width: 70px;
  height: 40px;
  background-color: #f99135;
  background-image: url(../img/icon-search.png);
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  border-radius: 20px;
}

.footer {
  background-color: #262426;
}

.footer .footer-top {
  display: flex;
  justify-content: center;
}

.footer .footer-top .list {
  width: 280px;
  margin: 34px 0 23px;
}

.footer .footer-top .list h3 {
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
}

.footer .footer-top .list .divider {
  width: 50px;
  height: 3px;
  background-color: #f99135;
}

.footer .footer-top .list ul li {
  margin-top: 14px;
  line-height: 1;
}

.footer .footer-top .list ul li a {
  color: #e2e2e2;
  font-size: 12px;
  line-height: 12px;
}

.footer .divider {
  height: 1px;
  background-color: #545454;
}

.footer .footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  color: #fff;
  font-size: 12px;
}

.footer .footer-bottom .link a {
  color: #fff;
  font-size: 12px;
}

.footer .footer-bottom .copyright {
  margin-top: 6px;
}
