img.status {
  display: block;
  margin: 57px auto 48px;
}

.wrap {
  margin: 0 auto;
  width: 1200px;
}

.wrap .tips {
  display: flex;
  align-items: center;
  padding: 37px 0 32px 27px;
  margin-bottom: 40px;
  height: 110px;
  background-color: #fff3f3;
  box-sizing: border-box;
}

.wrap .tips img {
  margin-right: 15px;
}

.wrap .tips .msgs {
  color: #333;
}

.wrap .tips .msgs .msg1 {
  margin-bottom: 5px;
  font-size: 16px;
}

.wrap .tips .msgs .msg1 span {
  font-size: 32px;
  font-weight: bold;
  color: #f03d37;
}

.wrap .tips .msgs .msg2 {
  color: #f03d37;
  font-size: 14px;
}

.wrap .warning {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 12px;
  color: #333;
}

.wrap .warning i {
  margin-right: 5px;
  width: 12px;
  height: 12px;
  background-image: url(../img/warning.png);
}

.wrap .order {
  margin-bottom: 35px;
  border: solid 1px #e5e5e5;
}

.wrap .order .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  font-size: 14px;
}

.wrap .order .item .con {
  width: 200px;
  text-align: center;
}

.wrap .order .order-header {
  height: 49px;
  background-color: #f7f7f7;
  font-size: 16px;
}

.wrap .order .order-body {
  height: 60px;
}

.wrap .order .order-body .name {
  font-size: 16px;
}

.wrap .order .order-body .time {
  color: #f99135;
}

.wrap .pay .tit {
  margin-bottom: 15px;
  font-size: 18px;
  color: #333;
}

.wrap .pay ul {
  display: flex;
}

.wrap .pay ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 140px;
  height: 42px;
  line-height: 42px;
  font-size: 12px;
  color: #333;
  background-color: #ffffff;
  border: solid 1px #dbdbdb;
}

.wrap .pay ul .active {
  border: 1px solid #f99135;
}

.wrap .pay ul .aliPay i {
  width: 38px;
  height: 38px;
  background-image: url(../img/alipay.png);
}

.wrap .pay ul .weChat i {
  width: 38px;
  height: 38px;
  background-image: url(../img/wechatpay.png);
}

.wrap .pay ul .unionPay i {
  width: 38px;
  height: 38px;
  background-image: url(../img/unionpay.png);
}

.wrap .price {
  margin: 40px 0 20px;
  text-align: right;
  color: #333;
  font-size: 14px;
}

.wrap .price span {
  color: #f99135;
  font-size: 24px;
}

.wrap .price .num {
  font-size: 36px;
}

.wrap .toPay {
  margin-bottom: 83px;
  text-align: right;
}

.wrap .toPay button {
  width: 190px;
  height: 42px;
  color: #ffffff;
  font-size: 16px;
  background-color: #f99135;
  box-shadow: 0px 2px 6px 0px rgba(255, 157, 71, 0.65);
  border-radius: 21px;
  border: none;
}
